@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;

0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: "PT Sans";
}

a:link {
  color: #000;
}

a:visited {
  color: #666f79;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 30px;
}

.navbar {
  background-color: #343a40;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.navbar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  z-index: 2;
}

.navbar__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.navbar__burger {
  display: none;
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0 0 0 35px;
  border: 1px solid #999c9f;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__burger.opened {
  background-color: #999c9f;
}

.navbar__burger:before,
.navbar__burger:after {
  content: '';
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: #999c9f;
  left: 4px;
}

.navbar__burger.opened:before,
.navbar__burger.opened:after,
.navbar__burger.opened span {
  background-color: #343a40;
}

.navbar__burger:before {
  top: 5px;
}

.navbar__burger:after {
  bottom: 5px;
}

.navbar__burger span {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #999c9f;
  top: 46%;
  left: 4px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 3;
}

.navbar__list.opened {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
  top: 47px;
  z-index: 2;
}

.navbar__list li {
  margin: 0 50px;
}

.navbar__list li a {
  color: #999c9f;
  font-size: 20px;
  font-family: "PT Sans";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.header__img img {
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.header__text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  font-family: "PT Sans";
  font-weight: 700;
}

.header__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: 2px;
  margin: 10px 0;
}

.header__subtitle {
  font-size: 30px;
  margin: 25px 0 0 0;
  font-style: italic;
}

.icon-grid {
  padding: 0 0 150px 0;
}

.icon-grid__container {
  max-width: 1060px;
  margin: auto;
  padding: 0 30px;
}

.icon-grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 50px 110px 50px;
}

.icon-grid__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-grid__item {
  min-width: 200px;
  min-height: 200px;
  margin: 0 25px 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-grid__image {
  max-width: 130px;
  margin: 0 0 15px 0;
  position: relative;
  z-index: 2;
}

.icon-grid__image img {
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon-grid__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-grid__subtext {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}

.main {
  margin: 0 0 20px 0;
  padding: 0 0 170px 0;
}

.main__body_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__districts {
  max-width: 1000px;
  margin: 30px auto;
}

.main__cards {
  height: auto;
}

.main__slider {
  width: 45%;
  height: 45%;
  margin: 25px 30px 0 0;
}

.main__slider div {
  margin: auto 0;
}

.main__slider div img {
  padding: auto 0;
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.inst-info {
  margin: 0 15px 0 0;
  padding: 25px 0 0 0;
}

.info-header {
  display: inline-block;
  padding: 15px;
  margin: 0 0 45px 0;
  border-top: 1px solid #bbbcbd;
  border-bottom: 1px solid #bbbcbd;
}

.info-header__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.info-header__geo {
  margin: 0 0 15px 0;
}

.info-header__geo a {
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.4px;
  position: relative;
  background: url("../img/icons/gps.svg") 0 0/contain no-repeat;
  padding: 0 0 0 28px;
  color: #676465;
}

.info-header__link {
  font-size: 16px;
}

.info-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-body__list li {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #bbbcbd;
  border-radius: 18px;
  margin: 0 15px 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.info-body__list li:hover {
  background-color: #d6e4f0;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.info-body__list li.info-body_active {
  color: #363b41;
  border: 0px solid #bbbcbd;
  background-color: #b1d2ec;
}

.info-body__text {
  position: relative;
  padding-bottom: 20px;
}

.info-body__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 20px 20px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.info-body__content_active {
  opacity: 1;
  visibility: visible;
}

.info-body__content p {
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 10px 0;
  white-space: pre-line;
}

.info-body__content p.ws__normal {
  white-space: normal;
}

.info-body__content ul li {
  list-style-type: disc;
}

.ib__span-i {
  font-style: italic;
}

.ib__span-u {
  text-decoration: underline;
  font-style: italic;
  padding: 20px 0 10px 20px;
}

.ib__span-block {
  display: block;
}

.ib__ptitle {
  font-weight: 700;
  padding: 0 0 0 20px;
  margin: 0 100px 0 0;
}

.ib__ptitle_toleft {
  padding-left: 0;
  font-weight: 700;
}

.ib__link:link,
.ib__link:visited {
  color: #0789f9;
}

.ib__link:hover {
  text-decoration: underline;
}

.districts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.districts__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  min-width: 250px;
  border: 2px solid #6f757d;
  font-size: 20px;
  background-color: #ebeef0;
  color: #6f757d;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.districts__item:hover {
  background-color: #cde1f1;
}

.districts__item:nth-child(1) {
  border-radius: 60px 0 0 60px;
}

.districts__item:nth-child(3) {
  border-radius: 0 60px 60px 0;
}

.districts__item_all {
  border-radius: 60px;
}

.districts__item span {
  color: #6f757d;
}

.districts__active {
  background-color: #b5d5f1;
  border-color: #0c5ca1;
}

.districts__active span {
  color: #0c5ca1;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards__item {
  width: 350px;
  max-height: 500px;
  margin: 20px;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #999;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: none;
}

.cards__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cards__image {
  width: 300px;
  height: 200px;
  margin: 5px 5px 15px 5px;
  -webkit-box-shadow: 1px 1px 8px #555;
          box-shadow: 1px 1px 8px #555;
}

.cards__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.cards__info {
  margin: 0 20px;
}

.cards__geo {
  margin: 0 0 15px 0;
}

.cards__geo a {
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.4px;
  position: relative;
  background: url("../img/icons/gps.svg") 0 0/contain no-repeat;
  padding: 0 0 0 28px;
  color: #676465;
}

.cards__text {
  font-size: 18px;
}

.cards__text a:link,
.cards__text a:visited {
  color: #0789f9;
}

.cards__text a:hover {
  text-decoration: underline;
}

.cards__visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

.footer {
  background-color: #fff;
  min-width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #999;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.footer__link-item {
  font-size: 18px;
  font-weight: 500;
  margin: 0 40px 0 0;
}

.footer__link-item:nth-child(1) {
  position: relative;
}

.footer__link-item:nth-child(1):after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #666f79;
  position: absolute;
  top: 7px;
  right: -20px;
}

.footer__link-item:last-child {
  margin: 0;
}

.footer__copy {
  color: #9c9e9c;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5;
}

@media (max-width: 1199px) {
  .main__districts {
    max-width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .districts__item {
    height: 45px;
    min-width: 150px;
    font-size: 14px;
    border-radius: 60px;
  }

  .districts__item:nth-child(1),
  .districts__item:nth-child(3) {
    border-radius: 60px;
  }
}

@media (max-width: 991px) {
  .info-body__text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }

  .navbar__burger {
    display: block;
  }

  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    opacity: 0;
    visibility: hidden;
    background-color: #343a40;
    z-index: 0;
  }

  .navbar__list li {
    margin: 30px 0 30px 0;
  }

  .navbar__list li a {
    font-size: 28px;
  }

  .header {
    height: 220px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__subtitle {
    font-size: 22px;
  }

  .icon-grid__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-grid__image:hover img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main__body_i {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__slider {
    width: 400px;
    margin: 25px 0 0 0;
  }

  .main__slider div img {
    height: 280px;
  }

  .main__slider div img {
    height: 200px;
  }

  .inst-info {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-header {
    margin: 0 auto 45px auto;
  }

  .info-body__list li:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .info-body__content {
    padding: 25px 0 20px 0;
  }

  .cards__item {
    width: 300px;
    max-height: 400px;
  }

  .cards__item:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .cards__image {
    width: 230px;
    height: 170px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .info-body__list li {
    font-size: 14px;
    padding: 6px 14px;
  }
}

@media (max-width: 450px) {
  .main__slider {
    width: 260px;
  }
}